html {
    min-height: 100vh;
    background-color: #F4F4F9;
}

body {
    display: flex;
    flex-direction: column;
    margin: 0px;
    font-family: 'Roboto', sans-serif;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding: 10px;
}

.btn{
    width: 100px;
}
